button {
	border: none;
	color: white;
	background-color: dodgerblue;
	border-radius: 20px;
	padding: 10px;
}

label {
	font-weight: 600;
}

.HeaderComponent {
	padding: 20px;
	position: relative;
	background-color: white;
	z-index: 11;
}

.homeLink {
	padding-top: 5px;
}

.titlesContainer,
.filters,
.search {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.search input[type=text] {
	width: 300px;
}

.search input[type=number] {
	width: 200px;
}

.titleInfo {
	margin: 10px;
	width: fit-content;
	padding: 10px 20px;
	background-color: rgb(244, 254, 255);
	border-radius: 8%;
}

.titleInfo img {
	width: 200px;
}

.backdrop {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	filter: brightness(25%);
	z-index: 10;
}

.TitleInfoComponent {
	min-height: calc(100vh - 115px - 110px);
}

.titleData {
	position: relative;
	margin: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: white;
	z-index: 11;
}

.titleContent {
	margin-left: 40px;
	text-align: left;
	width: 50%;
}

.titlePoster {
	width: 250px;
}

.titlePoster img {
	width: 100%;
}

.resultsNum {
	position: sticky;
	top: 25px;
	padding: 15px;
	width: fit-content;
	display: inline-block;
	color: white;
	background-color: dodgerblue;
	border-radius: 20px;
}

.FooterComponent {
	position: relative;
	padding: 10px;
	background-color: white;
	z-index: 11;
}

@media screen and (max-width: 768px) {

	.titleInfo {
		width: 150px;
		padding: 10px;
		font-size: 0.85rem;
	}

	.titleInfo img {
		width: 130px;
	}

	.search input[type=number] {
		width: 165px;
	}

	.titleData {
		margin: 50px;
	}

	.titlePoster {
		width: 175px;
	}

	.titleContent {
		margin-left: unset;
		width: unset;
	}
}
