.titlesContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
    align-items: center;
}

.titleInfo {
	margin: 5px;
	padding: 10px;
	background-color: rgb(234, 249, 255);
	border-radius: 20px;
}
